*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

#box a{
    text-decoration: none;
    color: black;
}

main {
    height: 100vh;
    background-color: #e0dcdc;
}

#menu{
    display: none;
}
#check{
    display: none;
}

#botao{
    background-color: green;
    height: 0;
    width: 100px;
    position: fixed;
}

#menu-check{
    z-index: 1;
    position: absolute;
    display: block;
    cursor: pointer;
    width: 250px;
    padding: 5px;
    margin: 0;
}

#botao label i{
    margin: 0;
    padding: 0;
    z-index: 1;
    position: absolute;
}
#botao label {
    margin: 0;
    padding: 0;
    z-index: 1;
    position: absolute;
}
#check:checked ~ #menu{
    position: absolute;
    width: 250px;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
}
#nav_menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

img{
    width: 150px;
}

#local-img {
    padding: 40px 0;
    display: flex;    
    justify-content: center;
    
}

#perfil {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 0;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background-color: #e0dcdc;
}
#perfil i {
    font-size: 45px;
}

#pai-grid {
    display: grid;
    grid-template-columns: 30px 100px 30px ;
    margin: 10px;
    padding-bottom: 150px ;
}
#box {
    width: 5px;
    display: grid;
    align-items: center;
    text-align: center;
}

#local-img {
    margin: 10px 0px;
}

#local_sair {
    font-size: 50px;
    margin-bottom: 30px;
}
main #menu-check {
    display: none;
}
.table {
    display: flex;
    justify-content: end ;
    margin: 0 300px;
    margin-top: 20px;    
}
tbody {
    width: 100%;
}
.table td{
    width: 20%;
}

#tabela_local {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#pesquisa{
    display: flex;
    justify-content: end;
    height: 100px;
}

#pesquisa i {
    margin-left: 10px;
    background-color: white;
}

#caixa {
    background-color: white;
    width: 200px;
    margin: 0 300px;
    margin-top: 80px;
    height: 38px;
    display: flex;
    align-items: center;
}

tr#principal td, th {
    background-color: gray;
}

/* PARA FAZER COM Q O MENU SUMA AO DIMINUIR A TELA
div#menu{
    position: fixed;
    width: 250px;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
}
#menu-check{
    display: none;
    cursor: pointer;
    background-color: #e0dcdc;
    width: 250px;
    padding: 5px;
    margin: 0;
}
@media(max-width: 800px){
    div#menu{
        display: none;
    }
    #check:checked ~ div#menu{
        position: fixed;
        width: 250px;
        height: 100vh;
        background-color: white;
        display: flex;
        justify-content: center;
    }

    #menu-check{
        display: block;
}
} */
